
.vs/*
*.editorconfig
*.vsidx
*.suo
*.dll
*.pdb
*.v2
*.cache
GottMitUns/obj/**
GottMitUns/bin/**
GottMitUns/.vs/*
ModuleDelegates/obj/*
ModuleDelegates/bin/*
ModuleDelegates/.vs/*
ModuleLamdaExp/obj/*
ModuleLamdaExp/bin/*
ModuleLamdaExp/.vs/*
ModuleEvents/obj/*
ModuleEvents/bin/*
ModuleEvents/.vs/*
ModuleExtensionMethods/obj/*
ModuleExtensionMethods/bin/*
ModuleExtensionMethods/.vs/*